@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    margin: 0;
}
body {
    font-family: "Inter", sans-serif;
    height:100vh;
}
.logo {
    margin: 15px;
}
/*contenedor para poder agregar palabras*/
.cont-agregar {
    position: relative;
    display: none;
    height: 450px;
    text-align: center;
}
.cont-agregar input {
    width: 343px;
    height: 48px;
    font-size: 32px;
    border: none;
}
.cont-agregar input::placeholder {
    color: #0a3871;
}
.agregar-alerta {
    position: absolute;
    color: #495057;
    font-size: 12px;
    bottom: 5px;
    left: 15px;
}
/*Fin --> contenedor para poder agregar palabras*/
/*Contenedor para Jugar*/
.cont-jugar {
    display: none;
    position: relative;
    height: 450px;
    text-align: center;
}
#c1 {
    display: none;
}
#c2 {
    display: none;
}
#c3 {
    display: none;
}
#c6 {
    display: none;
}
#c5 {
    display: none;
}
#c4 {
    display: none;
}

.pa {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #0a3871;
    width: 25px;
    text-align: center;
    color: #0a3871;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0.3em;
}
/*Fin-->Contenedor para Jugar*/

/*Contenedor de ventana perdedor*/
.cont-perdedor {
    display: none;
    position: absolute;
    color: white;
    background-color: #0a3871;
    top: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 100;
}
.cont-perdedor h1 {
    margin-top: 100px;
}
.cont-perdedor p {
    margin-top: 100px;
}
.cont-perdedor button {
    margin-top: 100px;
}
/*Fin-->Contenedor de ventana perdedor*/
/*Contenedor de ventana ganador*/
.cont-ganador {
    display: none;
    position: absolute;
    color: white;
    background-color: #0a3871;
    top: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 500;
}
.cont-ganador h1 {
    margin-top: 100px;
    font-size: 4em;
}
.cont-ganador p {
    margin-top: 100px;
}
.cont-ganador button {
    margin-top: 100px;
}
/*Fin-->Contenedor de ventana ganador*/
/*contenedor de palabras erroneas*/
.fail__letter {
    color: #495057;
}
.fail__letter p {
    display: inline-block;
    font-size: 20px;
    padding-right: 4px;
}
/*FIN -->contenedor de palabras erroneas*/
/*Contenedor de botones*/
.botones section {
    text-align: center;
}
.boton-azul {
   
    background-color: #0a3871;
    color: aliceblue;
    border: none;
    height: 50px;
    width: 317px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.boton-blanco {
    
    background-color: aliceblue;
    color: #0a3871;
    border: 1px solid;
    height: 50px;
    width: 317px;
    border-radius: 15px;
}
.pos-botoni {
    position: relative;
    height: 110px;
    margin-top: 250px;
}
.pos-botoni button {
    display: block;
    margin:20px auto;
}
.pos-botoni .boton-azul {
    height: 80px;
}
.pos-boton {
    
    position: relative;
    top: 40px;
}
#botones-inicio {
    /*  display: none; */
}
#botones-agregar {
    display: none;
}
#botones-jugar {
    display: none;
}
/*Fin --> Contenedor botones*/
@media screen and (min-width: 800px){
    .cont-agregar {
        position: relative;
        display: none;
        height: 450px;
        width:40em;
        margin: 0 auto;
        text-align: center;
    }
}